html { box-sizing: border-box; }

*, *::after, *::before { box-sizing: inherit; }

figure { text-align: center; }
figure figcaption { margin-top: 0.5rem; }
@media screen and (max-width: 46.875em) { figure figcaption { font-size: 0.875rem; } }

.floating { border: 0.0625rem solid #000; }
.floating:hover { text-decoration: none; box-shadow: 0 0.6875rem 0.4375rem 0 rgba(0, 0, 0, 0.19), 0 0.8125rem 1.5625rem 0 rgba(0, 0, 0, 0.3); -webkit-transition: box-shadow 50ms ease-out 0s; transition: box-shadow 50ms ease-out 0s; }

.blue.floating { border: 0.0625rem solid #566270; }
.blue.floating:hover { color: #fff; background: #566270; }

article p { font-size: 1.375rem; margin-bottom: 0.75rem; }

a.simple-underline { text-decoration: underline; color: #fff; }
a.simple-underline:hover { text-decoration: none; }

a.simple { color: #566270; text-decoration: none; }
a.simple:hover { text-decoration: underline; }

a.underlined-link, a.underlined { color: #566270; text-decoration: underline; }
a.underlined-link:hover, a.underlined:hover { text-decoration: none; }

.white { color: #fff; }

code { font-family: Consolas, "Liberation Mono", Courier, monospace; font-weight: 300; color: #333; background-color: #eee; border-width: 0.0625rem; border-style: solid; border-color: #dfdfdf; padding: 0.125rem 0.3125rem 0.0625rem; }

.subtitle { font-family: "Open Sans", sans-serif; font-weight: 300; }

p.tiny { font-size: 0.875rem !important; }

.outer-container { max-width: 75em; margin-left: auto; margin-right: auto; }
.outer-container::after { clear: both; content: ""; display: table; }

.row { display: block; }
.row::after { clear: both; content: ""; display: table; }

.bottom { margin-bottom: 1.5625em; }

.side-padding { padding: 0 1em; }

.padding-vertical { padding: 1em 0; }

.img-container { text-align: center; }

.light-text { color: #fff; text-shadow: 0.125rem 0.125rem 0 #222; }

.centered { text-align: center; }

.margin-bottom-2em, .margin-bottom { margin-bottom: 2rem; }

.shadow { box-shadow: 0 0 0.125rem 0 #333; }

.white-border { border: 0.125em solid #fff; }

.black-border { border: 0.0625em solid #000; }

.half { float: left; display: block; margin-right: 1.75788%; width: 49.12106%; }
.half:last-child { margin-right: 0; }
@media screen and (max-width: 46.875em) { .half { float: left; display: block; margin-right: 2.35765%; width: 82.94039%; margin-left: 8.5298%; }
  .half:last-child { margin-right: 0; } }
@media screen and (max-width: 40em) { .half { margin-left: 4.2649%; float: left; display: block; margin-right: 3.57866%; width: 87.05267%; }
  .half:last-child { margin-right: 0; } }
@media screen and (max-width: 32.813em) { .half { margin-left: 0%; float: left; display: block; margin-right: 3.57866%; width: 100%; }
  .half:last-child { margin-right: 0; } }

.one-half { float: left; display: block; margin-right: 1.75788%; width: 49.12106%; }
.one-half:last-child { margin-right: 0; }
@media screen and (max-width: 46.875em) { .one-half { float: left; display: block; margin-right: 2.35765%; width: 100%; }
  .one-half:last-child { margin-right: 0; } }

body { background: #f9f9f9; }

header#site-header { height: 3.4375em; }
header#site-header #nav-bar * { color: initial; text-shadow: initial; }
header#site-header #nav-bar #index-link * { color: #fff; text-shadow: 0.0625rem 0.0625rem 0.1875rem #000; }

#nav-bar { background: #fff url("/img/nav/top-bar/nav-detail.png") no-repeat left; background-size: 400px 100%; height: 3.4375em; position: fixed; width: 100%; top: 0; box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37); }
#nav-bar * { color: initial; text-shadow: initial; }

#menu-toggle { font-size: 1.75rem; position: absolute; top: 0.5rem; right: 2rem; outline: none; background: none; padding: 0; }
#menu-toggle:hover { margin-top: 0.125rem; text-shadow: 0 0.0625rem 0.0625rem #000; }
#menu-toggle #word { font-family: "Lintel ExtraBold", sans-serif; text-transform: uppercase; letter-spacing: 0.0625em; }

#hamburger:before { font-family: "nav"; content: "\2261"; padding-left: 0.5rem; }

#hamburger.active:before { margin-right: -0.25rem; content: "\78"; }

#index-link { font-size: 1.875rem; position: absolute; top: 0.625rem; left: 1rem; }
#index-link * { color: #fff; text-shadow: 0 0.0625rem 0.125rem #000; }
#index-link #mini { visibility: hidden; display: none; }
#index-link:hover { text-decoration: none; }

@media only screen and (max-width: 60em) { #nav-bar { background: #fff url("/img/nav/top-bar/nav-detail.png") no-repeat left; background-size: 18.75em 100%; height: 3.125em; }
  #index-link { font-size: 1.625rem; left: 0.75rem; top: 0.625rem; } }
@media only screen and (max-width: 58.125em) { #index-link #large { visibility: hidden; display: none; }
  #index-link #mini { visibility: visible; display: block; } }
@media only screen and (max-width: 53.125em) { #nav-bar { background: #fff url("/img/nav/top-bar/nav-detail.png") no-repeat left; background-size: 11.875em 100%; height: 3.125em; }
  #index-link { left: 0.625rem; } }
@media screen and (max-width: 46.875em) { #nav-bar { background: #fff url("/img/nav/top-bar/nav-detail@750.png") no-repeat left; background-size: 9.375em 100%; height: 3.125em; } }
@media only screen and (max-width: 43.688em) { #nav-bar { background: #fff url("/img/nav/top-bar/nav-detail.png") no-repeat left; background-size: 400px 100%; }
  #index-link #large { visibility: visible; display: block; }
  #index-link #mini { visibility: hidden; display: none; } }
@media only screen and (max-width: 28.125em) { #nav-bar { background: #fff url("/img/nav/top-bar/nav-detail.png") no-repeat left; background-size: 120% 100%; }
  #index-link #large { visibility: hidden; display: none; }
  #index-link #mini { visibility: visible; display: block; } }
@media only screen and (max-width: 26.25em) { #menu-toggle { text-shadow: 0 0.0625rem 0.125rem #000; }
  #menu-toggle:hover { text-shadow: 0 0.0625rem 0.0625rem #000; } }
main { text-align: left; padding: 1.375em 0.75em; }

@media screen and (max-width: 46.875em) { main { padding-top: 0; } }
footer#article-footer, footer#post-taxonomy { background: none; padding: 0; box-shadow: none; border: 0; color: initial; }

footer#page-footer { margin-top: 5em; }
footer#page-footer h6 a#snc-link { color: #fff; }

aside nav.side-nav ul.category-list { list-style: none; padding: 0; margin: 0; }
aside nav.side-nav ul.category-list li { margin: 0.75rem 0; background-color: #fff; }
aside nav.side-nav ul.category-list li a { border: 0.0625em solid #566270; display: block; text-decoration: none; padding: 0.5rem; color: #333; }
aside nav.side-nav ul.category-list li a:hover { color: #fff; }
aside nav.side-nav ul.category-list li a #small { display: none; visiblity: hidden; }
aside nav.side-nav ul.category-list li:hover { background-color: #566270; }

.page-title { background: #fff; box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37); padding: 1em 0.5em 0.5em; margin-bottom: 1.375em; }
.page-title h1 { font-size: 2.8125em; }
@media screen and (max-width: 46.875em) { .page-title h1 { font-size: 1.9375em; } }

.page-title.smaller h1 { font-size: 2.25rem; }
@media screen and (max-width: 46.875em) { .page-title.smaller h1 { font-size: 1.9375em; } }

@media screen and (max-width: 46.875em) { .page-title { margin-bottom: 0.75em; }
  aside { position: initial; }
  aside nav.side-nav ul.category-list li { float: left; display: block; margin-right: 2.35765%; width: 48.82117%; margin-top: 0; }
  aside nav.side-nav ul.category-list li:last-child { margin-right: 0; }
  aside nav.side-nav ul.category-list li:nth-child(2n) { margin-right: 0; }
  aside nav.side-nav ul.category-list li:nth-child(2n+1) { clear: left; } }
@media only screen and (max-width: 23.75em) { aside nav.side-nav ul.category-list li a #large { display: none; visibility: hidden; }
  aside nav.side-nav ul.category-list li a #small { display: block; visibility: visible; } }
.row#get-social { height: 5.375em; margin-bottom: 1.125em; }
.row#get-social a { text-decoration: none; width: 5rem; text-align: center; }
.row#get-social a img { width: 1.5625rem; height: 1.5625rem; }

.share-button { width: 5rem; height: 3.4375rem; margin-bottom: 0; transition: all 150ms; -webkit-transition: all 150ms; }
.share-button .shares { opacity: 0; transition: opacity 150ms; -webkit-transition: opacity 150ms; color: #fff; margin-top: 0.4375rem; }
.share-button:hover { height: 5rem; margin-bottom: 0; }
.share-button:hover .shares { opacity: 1; }

.share-button .icon { margin: 0; padding: 0.8125rem 0 0; }

.share-button#facebook { background-color: #435D96; }

.share-button#twitter { background-color: #5BC2F0; }

a#facebook-share, a#twitter-share { float: left; margin-right: 0.75rem; }

a#pinterest-share { background-color: #BE091C; height: 3.4375rem; float: left; padding-top: 0.875rem; margin-bottom: 0; }
a#pinterest-share:hover { cursor: pointer; cursor: hand; }

.blog-index section.blog-roll, .standard-post section.blog-roll { float: left; display: block; margin-right: 1.75788%; width: 74.56053%; }
.blog-index section.blog-roll:last-child, .standard-post section.blog-roll:last-child { margin-right: 0; }
.blog-index section.blog-roll article.post-summary, .standard-post section.blog-roll article.post-summary { padding: 1em; margin-bottom: 1.625em; background: #fff; box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37); }
.blog-index section.blog-roll article.post-summary header#post-titles, .standard-post section.blog-roll article.post-summary header#post-titles { display: block; margin-bottom: 1em; }
.blog-index section.blog-roll article.post-summary header#post-titles::after, .standard-post section.blog-roll article.post-summary header#post-titles::after { clear: both; content: ""; display: table; }
.blog-index section.blog-roll article.post-summary header#post-titles time, .standard-post section.blog-roll article.post-summary header#post-titles time { font-family: "Lintel Medium", sans-serif; letter-spacing: 0.075rem; font-size: 1.125rem; text-transform: uppercase; }
.blog-index section.blog-roll article.post-summary header#post-titles h1, .standard-post section.blog-roll article.post-summary header#post-titles h1 { font-size: 2.625rem; }
.blog-index section.blog-roll article.post-summary header#post-titles h1 a:hover, .standard-post section.blog-roll article.post-summary header#post-titles h1 a:hover { color: #566270; text-decoration: none; }
.blog-index section.blog-roll article.post-summary header#post-titles h2, .standard-post section.blog-roll article.post-summary header#post-titles h2 { font-size: 1.5rem; margin-bottom: 1rem; }
.blog-index section.blog-roll article.post-summary header#post-titles a.read-more, .standard-post section.blog-roll article.post-summary header#post-titles a.read-more { margin-left: 0.5rem; font-size: 1.125rem; padding: 0.25rem 0.75rem; display: inline-block; }
.blog-index section.blog-roll article.post-summary section#hero-image, .standard-post section.blog-roll article.post-summary section#hero-image { display: block; margin-bottom: 1.25em; }
.blog-index section.blog-roll article.post-summary section#hero-image::after, .standard-post section.blog-roll article.post-summary section#hero-image::after { clear: both; content: ""; display: table; }
.blog-index section.blog-roll article.post-summary section#hero-image img, .standard-post section.blog-roll article.post-summary section#hero-image img { border: 0.0625em solid #333; }
.blog-index section.blog-roll article.post-summary footer#post-taxonomy, .standard-post section.blog-roll article.post-summary footer#post-taxonomy { display: block; text-align: left; }
.blog-index section.blog-roll article.post-summary footer#post-taxonomy::after, .standard-post section.blog-roll article.post-summary footer#post-taxonomy::after { clear: both; content: ""; display: table; }
.blog-index section.blog-roll article.post-summary footer#post-taxonomy h4, .standard-post section.blog-roll article.post-summary footer#post-taxonomy h4 { text-transform: uppercase; letter-spacing: 0.075rem; font-size: 1rem; }
.blog-index section.blog-roll article.post-summary footer#post-taxonomy h4#tags, .standard-post section.blog-roll article.post-summary footer#post-taxonomy h4#tags { margin: 0; }
.blog-index aside, .standard-post aside { float: left; display: block; margin-right: 1.75788%; width: 23.68159%; padding-top: 1em; }
.blog-index aside:last-child, .standard-post aside:last-child { margin-right: 0; }
.blog-index aside .aside-content, .standard-post aside .aside-content { padding: 0 0.75em 0 0; position: fixed; }
@media only screen and (min-width: 63.75em) { .blog-index aside .aside-content, .standard-post aside .aside-content { max-width: 17.5em; min-width: 14.375em; } }

@media screen and (max-width: 46.875em) { .blog-index section.blog-roll, .blog-index aside, .standard-post section.blog-roll, .standard-post aside { float: left; display: block; margin-right: 2.35765%; width: 100%; }
  .blog-index section.blog-roll:last-child, .blog-index aside:last-child, .standard-post section.blog-roll:last-child, .standard-post aside:last-child { margin-right: 0; }
  .blog-index aside, .standard-post aside { margin-left: -102.35765%; }
  .blog-index aside .aside-content, .standard-post aside .aside-content { padding: 0; position: initial; }
  .blog-index section.blog-roll, .standard-post section.blog-roll { margin-top: 18.75em; }
  .blog-index section.blog-roll article.post-summary header#post-titles time, .blog-index section.blog-roll article.post-summary header#post-titles a.read-more, .standard-post section.blog-roll article.post-summary header#post-titles time, .standard-post section.blog-roll article.post-summary header#post-titles a.read-more { font-size: 1rem; }
  .blog-index section.blog-roll article.post-summary header#post-titles h1, .standard-post section.blog-roll article.post-summary header#post-titles h1 { font-size: 1.9375rem; margin: 0 0 0.25rem; }
  .blog-index section.blog-roll article.post-summary header#post-titles h2, .standard-post section.blog-roll article.post-summary header#post-titles h2 { font-size: 1.375rem; }
  .blog-index section.blog-roll article.post-summary footer#post-taxonomy h4, .standard-post section.blog-roll article.post-summary footer#post-taxonomy h4 { font-size: 0.875rem; } }
@media only screen and (max-width: 38.125em) { .blog-index section.blog-roll article.post-summary { padding: 1em 0.75em; }
  .blog-index section.blog-roll article.post-summary header#post-titles { margin-bottom: 1.25em; }
  .blog-index section.blog-roll article.post-summary header#post-titles h2 { margin-bottom: 1rem; } }
@media only screen and (max-width: 31.25em) { .blog-index section.blog-roll article.post-summary header#post-titles h1, .standard-post section.blog-roll article.post-summary header#post-titles h1 { margin-bottom: 0.5rem; }
  .blog-index section.blog-roll article.post-summary header#post-titles h2, .standard-post section.blog-roll article.post-summary header#post-titles h2 { margin-bottom: 0.75rem; }
  .blog-index section.blog-roll article.post-summary header#post-titles a.read-more, .standard-post section.blog-roll article.post-summary header#post-titles a.read-more { display: block; width: 6.875rem; text-align: center; margin: 0.875rem 0 0 0; }
  .blog-index section.blog-roll article.post-summary footer#post-taxonomy h4, .standard-post section.blog-roll article.post-summary footer#post-taxonomy h4 { font-size: 0.75rem; } }
@media only screen and (max-width: 25em) { .blog-index section.blog-roll { margin-top: 17.5em; }
  .standard-post article { margin-top: 17.5em; } }
.standard-post main article { float: left; display: block; margin-right: 1.75788%; width: 74.56053%; padding: 1em; margin-bottom: 1.625em; background: #fff; box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37); }
.standard-post main article:last-child { margin-right: 0; }
.standard-post main article header { display: block; margin-bottom: 1.875em; }
.standard-post main article header::after { clear: both; content: ""; display: table; }
.standard-post main article header h4 { text-transform: uppercase; letter-spacing: 0.075rem; font-size: 1.125rem; margin: 0; }
.standard-post main article header h1 { font-size: 2.625rem; margin: 0.375rem 0 0.5rem; }
.standard-post main article header h2 { font-size: 1.5rem; margin-bottom: 1.25rem; }
.standard-post main article header time { font-family: "Lintel Medium", sans-serif; letter-spacing: 0.075rem; font-size: 1.125rem; text-transform: uppercase; }
.standard-post main article #article-body { margin-bottom: 2.5em; display: block; }
.standard-post main article #article-body::after { clear: both; content: ""; display: table; }
.standard-post main article #article-body img.article-hero { border: 0.0625em solid #333; margin-bottom: 1.875em; }
.standard-post main article #article-body p { font-size: 1.25rem; }
.standard-post main article #article-body h4#contact-c2a { margin-top: 1.75rem; }
.standard-post main article #article-body h4#contact-c2a a span { text-decoration: underline; }
.standard-post main article #article-body h4#contact-c2a a:hover span { text-decoration: none; }
.standard-post main article footer#article-footer { display: block; text-align: left; }
.standard-post main article footer#article-footer::after { clear: both; content: ""; display: table; }
.standard-post main article footer#article-footer #post-tags { margin-bottom: 1.125rem; }

@media screen and (max-width: 46.875em) { .standard-post main article, .standard-post main aside { float: left; display: block; margin-right: 2.35765%; width: 100%; }
  .standard-post main article:last-child, .standard-post main aside:last-child { margin-right: 0; }
  .standard-post main article { margin-top: 18.75em; } }
@media only screen and (max-width: 38.125em) { .standard-post main article { padding: 0.75em; }
  .standard-post main article header { margin-bottom: 1.25em; }
  .standard-post main article header h1 { font-size: 1.9375rem; }
  .standard-post main article header h2 { margin-bottom: 0.875rem; }
  .standard-post main article header h4, .standard-post main article header time { font-size: 1rem; }
  .standard-post main article #article-body { margin-bottom: 1.25em; }
  .standard-post main article #article-body img.article-hero { margin-bottom: 1.875em; }
  .standard-post main article #article-body p { font-size: 1.125rem; }
  .standard-post main article #article-body h4#contact-c2a { font-size: 1.25rem; line-height: 1.625rem; } }
@media only screen and (max-width: 31.25em) { .standard-post main article header h4 { margin-bottom: 0.5rem; } }
@media only screen and (max-width: 25em) { .standard-post main article { margin-top: 17.5em; } }
video#shrinking-greencare-browser { max-width: 100%; width: 100%; border: 0.0625em solid #000; }
