html { box-sizing: border-box; }

*, *::after, *::before { box-sizing: inherit; }

.btn-red { background-color: #F26B6C; color: #fff; -webkit-transition: background-color 200ms ease-out 0s; transition: background-color 200ms ease-out 0s; -webkit-transition: color 200ms ease-out 0s; transition: color 200ms ease-out 0s; text-decoration: underline; }
.btn-red:hover { background-color: #f58989; color: #333; text-shadow: none; text-decoration: none; }

a.simple-underline { text-decoration: underline; color: #fff; }
a.simple-underline:hover { text-decoration: none; }

a.underlined-link { color: #566270; text-decoration: underline; }
a.underlined-link:hover { text-decoration: none; }

.white { color: #fff; }

code { font-family: Consolas, "Liberation Mono", Courier, monospace; font-weight: 300; color: #333; background-color: #eee; border-width: 0.0625rem; border-style: solid; border-color: #dfdfdf; padding: 0.125rem 0.3125rem 0.0625rem; }

.outer-container { max-width: 75em; margin-left: auto; margin-right: auto; padding-top: 1.5625em; }
.outer-container::after { clear: both; content: ""; display: table; }

.row { display: block; }
.row::after { clear: both; content: ""; display: table; }

.bottom { margin-bottom: 1.5625em; }

.side-padding { padding: 0 1em; }

.padding-vertical { padding: 1em 0; }

.img-container { text-align: center; }

.light-text { color: #fff; text-shadow: 0.125rem 0.125rem 0 #222; }

.centered { text-align: center; }

.margin-bottom-2em, .margin-bottom { margin-bottom: 2em; }

.shadow { box-shadow: 0px 0px 0.125rem 0px #333; }

.white-border { border: 0.125em solid #fff; }

.half { float: left; display: block; margin-right: 1.75788%; width: 49.12106%; }
.half:last-child { margin-right: 0; }
@media screen and (max-width: 50.9375em) { .half { float: left; display: block; margin-right: 2.35765%; width: 82.94039%; margin-left: 8.5298%; }
  .half:last-child { margin-right: 0; } }
@media screen and (max-width: 40em) { .half { margin-left: 4.2649%; float: left; display: block; margin-right: 3.57866%; width: 87.05267%; }
  .half:last-child { margin-right: 0; } }
@media screen and (max-width: 32.813em) { .half { margin-left: 0%; float: left; display: block; margin-right: 3.57866%; width: 100%; }
  .half:last-child { margin-right: 0; } }

header.top-bar .outer-container { padding-top: 0; }

body { background: #f9f9f9; padding-top: 3.125em; }

header#top-bar .row { max-width: 75em; margin-left: auto; margin-right: auto; }
header#top-bar .row::after { clear: both; content: ""; display: table; }

.overlay { position: fixed; text-align: center; z-index: 55; width: 100%; height: 100%; top: 0; left: 0; background: #566270; background: rgba(115, 133, 151, 0.85); overflow: scroll; }

.overlay ul { list-style: none; padding: 0; margin: 5em auto 0; display: inline-block; height: auto; position: relative; }
.overlay ul li.blog-link * { color: #fff; display: block; text-shadow: 0 0.125rem 0.0625rem #000; }
.overlay ul li.blog-link a { font-size: 2.375rem; font-family: "Lintel ExtraBold", sans-serif; letter-spacing: 0.0625rem; text-transform: uppercase; margin: 0.625rem 0; padding: 0.3125rem 0.5rem 0.5rem; }
.overlay ul li.blog-link a span { font-family: "Lintel Medium", sans-serif; letter-spacing: 0.075rem; font-size: 0.75rem; text-shadow: 0 0.0625rem 0.0625rem #000; }
.overlay ul li.blog-link:hover a { color: #000; text-decoration: none; text-shadow: none; background: #fff; box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37); border-radius: 0.3125rem; }
.overlay ul li.blog-link:hover a span { color: #333; text-shadow: none; }
.overlay ul ul.snc-links { height: auto; margin: 1.375rem auto 1.125rem; }
.overlay ul ul.snc-links li { display: inline-block; }
.overlay ul ul.snc-links li a { font-size: 1.9375rem; font-family: "Lintel Medium", sans-serif; letter-spacing: 0.075rem; text-transform: uppercase; margin: 0 0.625rem; padding: 0.5rem; text-shadow: 0 0.0625rem 0.0625rem #000; }
.overlay ul ul.snc-links li a span { display: block; visibility: hidden; font-size: 0.875rem; }
.overlay ul ul.snc-links li:hover a { color: #000; background: #fff; text-shadow: none; }
.overlay ul ul.snc-links li:hover a span { visibility: visible; }

/* Effects */
footer { margin-top: 5em; }
footer h6 a#snc-link { color: #fff; }

ul.widget-nav { list-style: none; padding: 0; margin: 0; }

.widget#post-categories, .widget#snc-link { text-align: center; }
.widget#post-categories .widget-nav li, .widget#snc-link .widget-nav li { margin: .7em 0; background-color: #fff; }
.widget#post-categories .widget-nav li a, .widget#snc-link .widget-nav li a { border: 0.0625em solid #566270; display: block; text-decoration: none; padding: .5em; color: #333; }
.widget#post-categories .widget-nav li a:hover, .widget#snc-link .widget-nav li a:hover { color: #fff; }
.widget#post-categories .widget-nav li:hover, .widget#snc-link .widget-nav li:hover { background-color: #566270; }

.widget#category-title { text-align: center; }
.widget#category-title h1 { margin-bottom: 0; }

.post-link, .widget, .category { background: #fff; box-shadow: 0px 0px 0.125rem 0px #333; border-radius: 0.25em; padding: 1em; margin-bottom: 1.5625em; }

.post-date h3#day, .post-date h3#month { background: #566270; margin: 0; text-transform: uppercase; color: #fff; }

.featured-container { width: 100%; padding: 1.5625em 1.5625em 1.5625em 1.5625em; box-shadow: 0px 0px 0.125rem 0px #333; background: #fff; text-align: center; }
@media screen and (max-width: 40em) { .featured-container { padding: 2em 0em 0em 0em; } }

.featured-slide { float: left; display: block; margin-right: 1.75788%; width: 49.12106%; background: #566270; -webkit-transition: background 50ms ease-out 0s; transition: background 50ms ease-out 0s; text-align: center; }
.featured-slide:last-child { margin-right: 0; }
@media screen and (max-width: 40em) { .featured-slide { float: left; display: block; margin-right: 3.57866%; width: 74.10533%; margin-left: 12.94733%; margin-bottom: 1.25em; }
  .featured-slide:last-child { margin-right: 0; } }
@media screen and (max-width: 32.813em) { .featured-slide { float: left; display: block; margin-right: 3.57866%; width: 87.05267%; margin-left: 6.47367%; }
  .featured-slide:last-child { margin-right: 0; } }
.featured-slide h2 { -webkit-transition: text-shadow 200ms ease-out 0s; transition: text-shadow 200ms ease-out 0s; text-shadow: none; text-decoration: underline; width: 100%; margin: 0; padding: 0.3125rem; font-weight: 300; }
.featured-slide:hover { background: #7b8999; color: #fff !important; }
.featured-slide:hover h2 { text-shadow: 0.125rem 0.125rem #000; color: #fff; text-decoration: none; }
.featured-slide img { border: 0.0625em solid #444; }

main.blog-roll { float: left; display: block; margin-right: 1.75788%; width: 68.20066%; }
main.blog-roll:last-child { margin-right: 0; }
@media screen and (max-width: 50.9375em) { main.blog-roll { float: left; display: block; margin-right: 2.35765%; width: 100%; }
  main.blog-roll:last-child { margin-right: 0; } }

section.sidebar { float: left; display: block; margin-right: 1.75788%; width: 30.04146%; margin-right: 0; }
section.sidebar:last-child { margin-right: 0; }
@media screen and (max-width: 50.9375em) { section.sidebar { float: left; display: block; margin-right: 2.35765%; width: -2.35765%; visibility: hidden; display: none; }
  section.sidebar:last-child { margin-right: 0; } }

main.blog-roll .post-link { float: left; display: block; margin-right: 2.57751%; width: 100%; }
main.blog-roll .post-link:last-child { margin-right: 0; }
main.blog-roll .post-link #post-details { display: table; width: 100%; table-layout: fixed; padding-bottom: 1em; }
main.blog-roll .post-link .post-date { display: table-cell; width: 9.09091%; text-align: center; }
main.blog-roll .post-link .post-head { display: table-cell; width: 90.90909%; padding-left: 1em; }
main.blog-roll .post-link .link-title { margin: 0; }
main.blog-roll .post-link .link-subtitle { margin-bottom: 0; }
main.blog-roll .post-link #img-row { text-align: center; margin-bottom: 1em; }
main.blog-roll .post-link #img-row img { border: 0.0625em solid #444; }
@media screen and (max-width: 50.9375em) { main.blog-roll .post-link .post-date { display: table-cell; width: 16.66667%; }
  main.blog-roll .post-link .post-head { display: table-cell; width: 83.33333%; } }

a.index-page-post-link { color: #333; }
a.index-page-post-link h4 { text-decoration: none !important; }
a.index-page-post-link:hover h4 { text-decoration: none !important; }

.page-title { text-align: center; }

.post-categories { display: block; }
.post-categories::after { clear: both; content: ""; display: table; }
.post-categories .category { float: left; display: block; margin-right: 1.75788%; width: 23.68159%; margin-left: 6.35987%; height: 150px; text-align: center; }
.post-categories .category:last-child { margin-right: 0; }
.post-categories .category h3 a { text-decoration: none; }
.post-categories .category h3 a:hover { text-decoration: underline; }

.main-post { padding: 0 1em; margin-top: 1.25em; max-width: 75em; margin-left: auto; margin-right: auto; text-align: center; }
.main-post::after { clear: both; content: ""; display: table; }

.post-intro { background: #fff; box-shadow: 0px 0px 0.125rem 0px #333; width: 100%; padding: 0 0 0.9375em 0; margin-bottom: 0.9375em; text-align: center; }
.post-intro h1 { margin-bottom: 0.375rem; }
.post-intro h1, .post-intro h2, .post-intro h5 { float: left; display: block; margin-right: 1.75788%; width: 74.56053%; margin-left: 12.71973%; }
.post-intro h1:last-child, .post-intro h2:last-child, .post-intro h5:last-child { margin-right: 0; }
@media screen and (max-width: 63.75em) { .post-intro h1, .post-intro h2, .post-intro h5 { float: left; display: block; margin-right: 2.35765%; width: 82.94039%; margin-left: 8.5298%; }
  .post-intro h1:last-child, .post-intro h2:last-child, .post-intro h5:last-child { margin-right: 0; } }
@media screen and (max-width: 40em) { .post-intro h1, .post-intro h2, .post-intro h5 { float: left; display: block; margin-right: 3.57866%; width: 87.05267%; margin-left: 6.47367%; }
  .post-intro h1:last-child, .post-intro h2:last-child, .post-intro h5:last-child { margin-right: 0; } }
@media screen and (max-width: 32.813em) { .post-intro h1, .post-intro h2, .post-intro h5 { float: left; display: block; margin-right: 3.57866%; width: 100%; margin-left: 0%; padding: 0 0.625rem 0 0.625rem; }
  .post-intro h1:last-child, .post-intro h2:last-child, .post-intro h5:last-child { margin-right: 0; } }

.post-content { float: left; display: block; margin-right: 1.75788%; width: 100%; }
.post-content:last-child { margin-right: 0; }

.post-image { margin-bottom: 1.25em; }

.large-post-image { float: left; display: block; margin-right: 1.75788%; width: 74.56053%; margin-left: 12.71973%; margin-bottom: 1.25em; }
.large-post-image:last-child { margin-right: 0; }
@media screen and (max-width: 63.75em) { .large-post-image { float: left; display: block; margin-right: 2.35765%; width: 82.94039%; margin-left: 8.5298%; }
  .large-post-image:last-child { margin-right: 0; } }
@media screen and (max-width: 32.813em) { .large-post-image { float: left; display: block; margin-right: 3.57866%; width: 100%; margin-left: 0%; }
  .large-post-image:last-child { margin-right: 0; } }

.full-width-image { float: left; display: block; margin-right: 1.75788%; width: 100%; margin-bottom: 1.25em; }
.full-width-image:last-child { margin-right: 0; }

.post-date-box { float: left; display: block; margin-right: 1.75788%; width: 10.96186%; margin-left: 44.51907%; margin-bottom: 0.625em; }
.post-date-box:last-child { margin-right: 0; }
@media screen and (max-width: 32.813em) { .post-date-box { float: left; display: block; margin-right: 3.57866%; width: 22.316%; margin-left: 38.842%; }
  .post-date-box:last-child { margin-right: 0; } }
.post-date-box h3#day { padding-top: 0.375rem; }
.post-date-box h3#month { padding-bottom: 0.375rem; }
.post-date-box h3#day, .post-date-box h3#month { padding-left: 0.375rem; padding-right: 0.375rem; background: #566270; margin: 0; text-transform: uppercase; color: #fff; }

img#old-lpf-logo { max-width: 400px; }
