@import "../../settings/_settings.scss";

$max-900: "only screen and (max-width : 56.250em)";
$max-670: "only screen and (max-width : 41.875em)";
$max-540: "only screen and (max-width : 33.750em)";


#lisa-esposito-project-introduction {
	p {
		font-size: rem(22);
		margin-bottom: rem(16);
	}

	h3 {
		font-size: rem(28);
	}

	.row {
		margin-bottom: em(30);
	}

	figure#original-esposito-ipad,
	.verbiage {
		@include span-columns(8 of 16);
	}		

	#two {
		text-align: center;
	}

	@media #{$max-900} {
		p {
			font-size: rem(20);
			margin-bottom: rem(14);
		}
	}

	@include media($medium) { // 750px
		p {
			font-size: rem(20);
		}

		h3 {
			font-size: $h4-size;
		}
	}

	@media #{$max-670} {
		p {
			font-size: rem(18);
		}
	}

	@media #{$max-540} {

		figure#original-esposito-ipad,
		.verbiage {
			@include span-columns(8 of 8);
		}

		figure {
			margin-bottom: em(18);
		}

		h3 {
			font-size: rem(20);
		}

		#two {
			text-align: left;
		}
	}
}

