@import "../../settings/_settings.scss";

$max-900: "only screen and (max-width : 56.250em)";

article#greencare-project {
	.row {
		figure {
			@include span-columns(10 of 16);
		}
		.verbiage {
			@include span-columns(6 of 16);
			a {
				font-size: rem(22);
			}
		}
		figure {
			img {
				border: em(2) solid #fff;
				box-shadow: $z-1;
			}
		}		
	}
}

@media #{$max-900} {
	article#greencare-project {
		.row {
			figure {
				margin-bottom: em(20);
			}
			
			figure,
			.verbiage {
				@include span-columns(8 of 8);
			}		
		}
	}
}