@import "../settings/_settings.scss";

$max-500: "only screen and (max-width : 31.250em)";


.blog-index {
	section.blog-roll {
		@include span-columns(12 of 16);

		article.post-summary {
			padding: em(16);
			margin-bottom: em(26);
			background: #fff;
			box-shadow: $z-1;

			header#post-titles {
				@include row;
				margin-bottom: em(12);

				time {
					font-family: $header-font-family;
					letter-spacing: rem(1.2);
					font-size: rem(18);
					text-transform: uppercase;
				}

				h1 {
					font-size: rem(42);
					margin: rem(8) 0;
				}

				h2 {
					font-size: rem(24);
				}
			}

			section#hero-image {
				@include row;
				margin-bottom: em(20);

				img {
					border: em(1) solid #333;
				}
			}

			footer#post-taxonomy {
				@include row;
				text-align: left;

				h4 {
					text-transform: uppercase;
					letter-spacing: rem(1.2);
					font-size: rem(16);
				}

				h4#tags {
					margin: 0;
				}
			}
		}
	}
	aside {
		@include span-columns(4 of 16);
		padding-top: em(16);
	}
}

@include media($medium) {
	.blog-index {
		section.blog-roll,
		aside {
			@include span-columns(12 of 12);
		}

		section.blog-roll {
			article.post-summary {
				header#post-titles {
					time {
						font-size: rem(16);
					}

					h1 {
						font-size: rem(31);
						margin: rem(4) 0;
					}

					h2 {
						font-size: rem(22)
					}
				}

				footer#post-taxonomy {
					h4 {
						font-size: rem(14);
					}
				}
			}
		}
	}
}


@media #{$max-500} {
	.blog-index {
		section.blog-roll {
			article.post-summary {
				footer#post-taxonomy {
					h4 {
						font-size: rem(12);
					}
				}
			}
		}
	}
}