@import "../settings/_settings.scss";


main.blog-roll {
	@include span-columns(11 of 16);

	@include media($medium) {
		@include span-columns(12 of 12);
	}
}

.sidebar {
	@include span-columns(5 of 16);
	@include omega;

	@include media($medium) {
		@include span-columns(0);
		visibility: hidden;
		display: none; 
	}
}

.blog-roll {

	.post-link {
		@include span-columns(11 of 11);

		#post-details {
			@include row(table);
			padding-bottom: 1em;
		} 

		.post-date {
			@include span-columns(1 of 11);
			text-align: center;
		}

		.post-head {
			@include span-columns(10 of 11);
			padding-left: em(16);
		}

		.link-title {
			margin: 0;
		}

		.link-subtitle {
			margin-bottom: 0;
		}

		#img-row {
			text-align: center;
			margin-bottom: 1em;
			
			img {
				border: em(1) solid #444;
			}
		}

		@include media($medium) {
			.post-date {
				@include span-columns(2 of 12);
			}

			.post-head {
				@include span-columns(10 of 12);
			}
		}
	}
}

a.index-page-post-link {
	color: $text-color;
	h4 {
		text-decoration: none !important;
	}
	&:hover {
		h2 {
			// text-decoration: underline;
		}
		h4 {
			text-decoration: none !important;
		}		
	}
}


