@import "../settings/_settings.scss";

$max-610: "only screen and (max-width : 38.125em)";
$max-500: "only screen and (max-width : 31.250em)";
$max-400: "only screen and (max-width : 25.000em)";


.blog-index {
	section.blog-roll {
		@include span-columns(12 of 16);

		article.post-summary {
			padding: em(16);
			margin-bottom: em(26);
			background: #fff;
			box-shadow: $z-1;

			header#post-titles {
				@include row;
				margin-bottom: em(16);

				time {
					font-family: $header-font-family;
					letter-spacing: rem(1.2);
					font-size: rem(18);
					text-transform: uppercase;
				}

				h1 {
					font-size: rem(42);

					a {
						&:hover {
							color: $dark-blue;
							text-decoration: none;
						}
					}
				}

				h2 {
					font-size: rem(24);
					margin-bottom: rem(16);
				}

				a.read-more {
					margin-left: rem(8);
					font-size: rem(18);
					padding: rem(4) rem(12);
					display: inline-block;
				}
			}

			section#hero-image {
				@include row;
				margin-bottom: em(20);

				img {
					border: em(1) solid #333;
				}
			}

			footer#post-taxonomy {
				@include row;
				text-align: left;

				h4 {
					text-transform: uppercase;
					letter-spacing: rem(1.2);
					font-size: rem(16);
				}

				h4#tags {
					margin: 0;
				}
			}
		}
	}
	aside {
		@include span-columns(4 of 16);
		padding-top: em(16);
	}
}

@include media($medium) {
	.blog-index {
		section.blog-roll,
		aside {
			@include span-columns(12 of 12);
		}

		section.blog-roll {
			article.post-summary {
				header#post-titles {
					time,
					a.read-more {
						font-size: rem(16);
					}

					h1 {
						font-size: rem(31);
						margin: 0 0 rem(4);
					}

					h2 {
						font-size: rem(22)
					}
				}

				footer#post-taxonomy {
					h4 {
						font-size: rem(14);
					}
				}
			}
		}
	}
}

@media #{$max-610} {
	.blog-index {
		section.blog-roll {
			article.post-summary {
				header#post-titles {
					margin-bottom: em(20);

					h2 {
						margin-bottom: rem(16);
					}
				}
			}
		}
	}
}

@media #{$max-500} {
	.blog-index {
		section.blog-roll {
			article.post-summary {
				header#post-titles {
					h1 {
						margin-bottom: rem(8);
					}
					h2 {
						margin-bottom: rem(12);
					}
					a.read-more {
						display: block;
						width: rem(110);
						text-align: center;
						margin: rem(14) 0 0 0;
					}
				}
				footer#post-taxonomy {
					h4 {
						font-size: rem(12);
					}
				}
			}
		}
	}
}