@import "../settings/_settings.scss";

$max-800: "only screen and (max-width : 50em)";

.main-post {
	padding: 0 1em;
	margin-top: 0;
}


.post-content {
	@include span-columns(16 of 16);
}

.post-image {
	margin-bottom: em(20);
}

.large-post-image {
	@include span-columns(12 of 16);
	@include shift(2);
	margin-bottom: em(20);

	@include media($large) {
		@include span-columns(10 of 12);
		@include shift(1);
	}

	@include media($small) {
		@include span-columns(8 of 8);
		@include shift(0);
	}
}

.full-width-image {
	@include span-columns(16 of 16);
	margin-bottom: em(20);
}

.post-intro {
	background: #fff;
	box-shadow: $z-2;
	width: 100%;
	margin-bottom: em(34);

	#calendar-nav {
		width: em(170);
		margin-right: em(10);
		float: left;
		text-align: center;
		padding-left: em(10);

		time {
			width: em(145);
			height: em(145);
			background: $dark-blue;
			padding-top: em(18);
			margin: 0 auto em(14);
			display: block;

			* {
				font-size: $h2-size;
				font-family: $header-font-family;
				letter-spacing: rem(1);
				margin-bottom: 0;
				text-transform: uppercase;
				color: #fff;
			}

			span {
				display: block;
			}
		}

		nav {
			margin-bottom: rem(14);

			a {
				text-transform: uppercase;
				font-size: $h5-size;
				letter-spacing: $h5-h6-letter-spacing;
			}
		}
	}
	#post-titles {
		padding-right: em(22);
		margin-left: rem(180);

		h1 {
			font-size: $h2-size;
		}
		h2 {
			font-size: $h3-size;
		}

		@media #{$max-800} {
			h1 {
				font-size: $h3-size;
			}
			h2 {
				font-size: $h4-size;
			}
		}
	}
	#post-taxonomy {
		padding-left: em(20);

		h5 {
			font-size: $h5-size;
		}
	}
}


