@import "../settings/_settings.scss";

.main-post {
	padding: 0 1em;
	margin-top: 0;
}


.post-content {
	@include span-columns(16 of 16);
}

.post-image {
	margin-bottom: em(20);
}

.large-post-image {
	@include span-columns(12 of 16);
	@include shift(2);
	margin-bottom: em(20);

	@include media($large) {
		@include span-columns(10 of 12);
		@include shift(1);
	}

	@include media($small) {
		@include span-columns(8 of 8);
		@include shift(0);
	}
}

.full-width-image {
	@include span-columns(16 of 16);
	margin-bottom: em(20);
}

.post-intro {
	background: #fff;
	box-shadow: $z-2;
	width: 100%;
	margin-bottom: em(34);

	#post-taxonomy {
		@include span-columns(3 of 16);
		text-align: center;

		.post-date-box {
			width: 100%;
			background: $dark-blue;
			padding: rem(6);
			margin-bottom: em(14);

			h3 {
				font-size: $h1-size;
				font-family: $title-font-family;
				text-transform: uppercase;
				color: #fff;
			}
		}

		h5 {
			margin-bottom: rem(13);
		}
	}
	#post-titles {
		@include span-columns(13 of 16);
		padding-right: em(22);
	}
}

