@import "../../settings/_settings.scss";

$max-800: "only screen and (max-width : 50em)";

article#houston-uncovered-post {
	.row#one {
		figure,
		.verbiage {
			@include span-columns(8 of 16);
		}
		figure {
			img {
				border: em(2) solid #fff;
				box-shadow: $z-1;
				max-width: em(700);
			}
		}
		.verbiage {
			a {
				font-size: $h3-size;
			}
		}	
	}
}

@media #{$max-800} {
	article#houston-uncovered-post {
		.row#one {
			figure,
			.verbiage {
				@include span-columns(8 of 8);
			}
			figure {
				margin-bottom: em(26);
			}
			.verbiage {
				a {
					font-size: rem(22);
				}
			}	
		}
	}

}