<header>
	<div class="row" id="nav-bar">
		<a href="/" class="title" id="index-link"><span id="large">Blog.Studio N Creations</span><span id="mini">BLOG.SNC</span></a>
		<nav class="nav-collapse">
			<ul>
				<li><a href="http://studioncreations.com/">Home</a></li>
				<li><a href="http://studioncreations.com/what-we-do/">Services</a></li>
				<li><a href="http://studioncreations.com/portfolio/">Portfolio</a></li>
				<li><a href="http://studioncreations.com/about-us">About Us</a></li>
				<li class="active"><a href="http://blog.studioncreations.com">Blog</a></li>
				<li><a href="http://studioncreations.com/contact/">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>