<div class="widget" id="post-categories">
	<div class="row">
		<h5>CATEGORIES</h5>
		<ul class="widget-nav">
			<li><a href="/web-design/">Web Design</a></li>
			<li><a href="/print-work/">Print Work</a></li>
			<li><a href="/social/">Social</a></li>
			<li><a href="/web-development/">Web Development</a></li>
		</ul>
	</div>
</div>
<div class="widget" id="snc-link">
	<div class="row">
		<ul class="widget-nav">
			<li><a href="http://studioncreations.com" target="_blank">Need a website? Here's our portfolio.</a></li>
		</ul>
	</div>
</div>

