@import "../../settings/_settings.scss";

$max-750: "only screen and (max-width : 46.875em)";
$max-610: "only screen and (max-width : 38.125em)";

article#gaget-analytics-app {
	.row {
		margin-bottom: em(40);

		figure {
			img {
				border: em(2) solid #fff;
				box-shadow: $z-1;
			}
		}
	}
	.row#one {
		h2,
		p {
			@include span-columns(8 of 16);
		}
		h2 {
			text-align: center;
		}
	}
	.row#two {
		figure {
			@include span-columns(8 of 16);
		}
	}
	.row#three {
		.verbiage,
		figure {
			@include span-columns(8 of 16);
		}
	}
}

@media #{$max-750} {
	article#gaget-analytics-app {
		.row#one {
			h2,
			p {
				@include span-columns(8 of 8);
			}
		}
	}
}

@media #{$max-610} {
	article#gaget-analytics-app {
		.row#one {
			h2 {
				text-align: left;
				margin-bottom: rem(18);
			}
		}

		.row#two {
			figure {
				@include span-columns(8 of 8);
			}
		}
		.row#three {
			.verbiage,
			figure {
				margin-bottom: rem(30);
				@include span-columns(8 of 8);
			}
		}
	}
}