.featured-container {
	padding: em(20) em(20) 0;
	box-shadow: $z-1;
	background: #fff;
	text-align: center;

	@include media($small-plus) {
		padding: em(32) em(0) em(0);
	}
}


.featured-slide {
	@include span-columns(8 of 16);
	border: em(2) solid #fff;
	margin-bottom: em(25);
	background: $dark-blue;
	box-shadow: $z-3;
	text-align: center;

	@include media($small-plus) {
		@include span-columns(6 of 8);
		@include shift(1);
		margin-bottom: em(20);
	}

	@include media($small) {
		@include span-columns(7 of 8);
		@include shift(0.5);
	}

	a {
		color: #fff;

		h2 {
			text-shadow: none;
			width: 100%;
			margin: 0;
			padding: rem(5);
		}
	}

	&:hover {
		a {
			text-decoration: underline;
		}
	}
}

