.featured-container {
	padding: em(25);
	box-shadow: $z-1;
	background: #fff;
	text-align: center;

	@include media($small-plus) {
		padding: em(32) em(0) em(0);
	}
}


.featured-slide {
	@include span-columns(8 of 16);
	background: $dark-blue;
	@include transition (background 50ms ease-out 0s);
	text-align: center;

	@include media($small-plus) {
		@include span-columns(6 of 8);
		@include shift(1);
		margin-bottom: em(20);
	}

	@include media($small) {
		@include span-columns(7 of 8);
		@include shift(0.5);
	}

	a {
		color: #fff;

		h2 {
			@include transition (text-shadow 200ms ease-out 0s);
			text-shadow: none;
			width: 100%;
			margin: 0;
			padding: rem(5);
		}
	}

	&:hover {
		background: scale-color($dark-blue, $lightness: 25%);

		a {
			text-decoration: none;

			h2 {
				text-shadow: rem(2) rem(2) #000;
				// text-decoration: none;
			}
		}
	}

	img {
		border: em(1) solid #444;
	}
}


