@import "../settings/_settings.scss";

header#site-header {
    height: em(55);

    #nav-bar {
    	* {
	    	color: initial;
	    	text-shadow: initial;
    	}
    	
    	#index-link * {
    		color: #fff;
    		text-shadow: $text-shadow #000;
    	}
    }
}