@import "../settings/_settings.scss";

// WIDTHS ::
$max-610: "only screen and (max-width : 38.125em)";

// HEIGHTS ::
$height-710: "only screen and (max-height : 44.375em)";
$height-600: "only screen and (max-height : 37.5em)";
$height-500: "only screen and (max-height : 31.25em)";
$height-380: "only screen and (max-height : 23.75em)";


.overlay {
	position: fixed;
	text-align: center;
	z-index: 55;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $dark-blue;
	background: rgba(115,133,151,0.85);
	overflow: scroll;
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: em(80) auto 0;
	display: inline-block;
	height: auto;
	position: relative;

	li.blog-link {
		* {
			color: #fff;
			display: block;
			text-shadow: 0 rem(2) rem(1) #000;
		}

		a {
			font-size: rem(38);
			font-family: $title-font-family;
			letter-spacing: rem(1);
			text-transform: uppercase;
			margin: rem(10) 0;
			padding: rem(5) rem(8) rem(8);

			span {
				font-family: $header-font-family;
				letter-spacing: rem(1.2);
				font-size: rem(12);
				text-shadow: 0 rem(1) rem(1) #000;
			}			
		}

		&:hover {
			a {
				color: #000;
				text-decoration: none;
				text-shadow: none;
				background: #fff;
				box-shadow: $z-1;
				border-radius: rem(5);
			}

			a span {
				color: #333;
				text-shadow: none;
			}	
		}
	}

	ul.snc-links {
		height: auto;
		margin: rem(22) auto rem(18);

		li {
			display: inline-block;

			a {
				font-size: rem(31);
				font-family: $header-font-family;
				letter-spacing: rem(1.2);
				text-transform: uppercase;
				margin: 0 rem(10);
				padding: rem(8);
				text-shadow: 0 rem(1) rem(1) #000;

				span {
					display: block;
					visibility: hidden;
					font-size: rem(14);
				}
			}

			&:hover {
				a {
					color: #000;
					background: #fff;
					text-shadow: none;

					span {
						visibility: visible;
					}
				}
			}
		}
	}
}







// @media #{$max-610} {
// 	.overlay {
// 		padding: 0;

// 		ul {
// 			text-align: center;
// 			margin: em(80) auto 0;
// 			width: 100%;
// 			padding: 0 em(20);
// 		}
// 	}

// 	.blog-link,
// 	.top-level {
// 		a {
// 			font-size: rem(40);
// 		}
// 	}

// 	.child {
// 		a {
// 			font-size: rem(20)
// 		}
// 	}

// 	.child,
// 	.top-level {
// 		margin-bottom: em(34);
// 	}
// }


// @media #{$height-710} {
// 	.top-level,
// 	.child {
// 		margin-bottom: rem(30);
// 	}
// }

// @media #{$height-600} {
// 	.overlay ul {
// 		margin-top: em(55);
// 	}

// 	.blog-link,
// 	.top-level {
// 		a {
// 			font-size: rem(40);
// 		}
// 	}

// 	.child {
// 		a {
// 			font-size: rem(20);
// 		}
// 	}

// 	.child,
// 	.top-level {
// 		margin-bottom: em(34);
// 	}
// }

// @media #{$height-500} {
// 	.blog-link,
// 	.top-level {
// 		a {
// 			font-size: rem(28);
// 		}
// 	}

// 	.child {
// 		a {
// 			font-size: rem(18);
// 		}
// 	}
	
// 	.top-level,
// 	.child {
// 		margin-bottom: rem(18);
// 	}
// }

// @media #{$height-380} {
// 	.blog-link,
// 	.top-level {
// 		a {
// 			font-size: rem(24);
// 		}
// 	}

// 	.top-level,
// 	.child {
// 		margin-bottom: rem(14);
// 	}

// 	.child {
// 		a {
// 			font-size: rem(16);
// 		}
// 	}
// }


/* Effects */
// .overlay-slidedown {
// 	visibility: hidden;
// 	-webkit-transform: translateY(-100%);
// 	transform: translateY(-100%);
// 	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
// 	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
// }

// .overlay-slidedown.open {
// 	visibility: visible;
// 	-webkit-transform: translateY(0%);
// 	transform: translateY(0%);
// 	-webkit-transition: -webkit-transform 0.4s ease-in-out;
// 	transition: transform 0.4s ease-in-out;
// }