@import "../settings/_settings.scss";


.post-link,
.widget,
.category {
	background: #fff;
	box-shadow: $z-1;
	border-radius: em(4);
	padding: em(16);
	margin-bottom: em(25);
}

.post-date {
	h3#day,
	h3#month {
		background: $dark-blue;
		margin: 0;
		text-transform: uppercase;
		color: #fff;
	}
}