@import "../settings/_settings.scss";

aside {
	nav.side-nav {
		ul.category-list {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				margin: rem(12) 0;
				background-color: #fff;

				a {
					border: em(1) solid $dark-blue;
					display: block;
					text-decoration: none;
					padding: rem(8);
					color: $text-color;

					&:hover {
						color: #fff;
					}
				}

				&:hover {
					background-color: $dark-blue;
				}
			}
		}
	}	
}


.page-title {
	background: #fff;
	box-shadow: $z-1;
	padding: em(16) em(8) em(8);
	margin-bottom: em(22);

	h1 {
		font-size: $h2-size;

		@include media($medium) {
			font-size: $h3-size;
		}
	}
}


.page-title.smaller {
	h1 {
		font-size: rem(36);

		@include media($medium) {
			font-size: $h3-size;
		}
	}
}