@import "../settings/_settings.scss";

aside {
	nav.category-nav {
		li {
			margin: rem(12) 0;
			background-color: #fff;

			a {
				border: em(1) solid $dark-blue;
				display: block;
				text-decoration: none;
				padding: rem(8);
				color: $text-color;

				&:hover {
					color: #fff;
				}
			}

			&:hover {
				background-color: $dark-blue;
			}
		}
	}	
}



ul.widget-nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

.widget#post-categories,
.widget#snc-link {
	text-align: center;

	.widget-nav {
		li {
			margin: rem(12) 0;
			background-color: #fff;

			a {
				border: em(1) solid $dark-blue;
				display: block;
				text-decoration: none;
				padding: rem(8);
				color: $text-color;

				&:hover {
					color: #fff;
				}
			}

			&:hover {
				background-color: $dark-blue;
			}
		}
	}
}

.widget#category-title {
	text-align: center;

	h1 {
		margin-bottom: 0;
		font-size: $h2-size;

		@include media($medium) {
			font-size: $h3-size;
		}
	}
}

