@import "../settings/_settings.scss";


$min-1020: "only screen and (min-width : 63.750em)";
$max-380: "only screen and (max-width : 23.750em)";

.blog-index,
.standard-post {
	aside {
		@include span-columns(4 of 16);

		.aside-content {
			padding: 0 em(12) 0 0;
			position: fixed;

			@media #{$min-1020} {
				max-width: em(280);
				min-width: em(230);
			}
		}

		.page-title {
			background: #fff;
			box-shadow: $z-1;
			padding: em(16) em(8) em(8);
			margin-bottom: em(22);

			h1 {
				font-size: $h2-size;

				@include media($medium) {
					font-size: $h3-size;
				}
			}
		}

		.page-title.smaller {
			h1 {
				font-size: rem(36);

				@include media($medium) {
					font-size: $h3-size;
				}
			}
		}

		nav.side-nav {
			ul.category-list {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					margin: rem(12) 0;
					background-color: #fff;

					a {
						border: em(1) solid $dark-blue;
						display: block;
						text-decoration: none;
						padding: rem(8);
						color: $text-color;

						&:hover {
							color: #fff;
						}

						#small {
							display: none;
							visiblity: hidden;
						}
					}

					&:hover {
						background-color: $dark-blue;
					}
				}
			}
		}	
	}	
}


@include media($medium) {

	.blog-index,
	.standard-post {
		aside {
			position: initial;
			@include span-columns(12 of 12);
			@include shift(-12);

			.aside-content {
				padding: 0;
				position: initial;
			}

			.page-title {
				margin-bottom: em(12);
			}

			nav.side-nav {
				ul.category-list {

					li {
						@include span-columns(6 of 12);
						@include omega(2n);
						margin-top: 0;
					}
				}
			}
		}
	}
}


@media #{$max-380} {
	.blog-index,
	.standard-post {
		aside {
			nav.side-nav {
				ul.category-list {
					li {
						a {
							#large {
								display: none;
								visibility: hidden;
							}
							#small {
								display: block;
								visibility: visible;
							}
						}
					}
				}
			}
		}
	}
}