.row#get-social {
    height: em(86);
    margin-bottom: em(18);

    a {
        text-decoration: none;
        width: rem(80);
        text-align: center;

        img {
            width: rem(25);
            height: rem(25);
        }
    }
}

.share-button {
    width: rem(80);
    height: rem(55);
    margin-bottom: 0;

    transition: all 150ms;

    .shares {
        opacity: 0;
        transition: opacity 150ms;
        color: #fff;
        margin-top: rem(7); 
    }

    &:hover {
        height: rem(80);
        margin-bottom: 0; 

        .shares {
            opacity: 1;
        }
    }
}

.share-button .icon {
    margin: 0;
    padding: rem(13) 0 0;
}

.share-button#facebook {
    background-color: #435D96;
}

a#facebook-share {
    float: left;
    margin-right: rem(12);
}

a#pinterest-share {
    background-color: #BE091C;
    height: rem(55);
    float: left;
    padding-top: rem(14);
    margin-bottom: 0;

    &:hover {
        cursor: pointer;
    }
}


