@import "../settings/_settings.scss";


.floating {
	border: rem(1) solid #000;

	&:hover {
		text-decoration: none;
		box-shadow: $z-3;
		@include transition (box-shadow 50ms ease-out 0s);
	}
}

.blue.floating {
	border: rem(1) solid $dark-blue;

	&:hover {
		color: #fff;
		background: $dark-blue;
	}
} 