@import "../settings/_settings.scss";
@import "_fonts.scss";
@import "_buttons.scss";


article {
	p {
		font-size: rem(22);
		margin-bottom: rem(12);
	}
}
a.simple-underline {
	text-decoration: underline;
	color: #fff;

	&:hover {
		text-decoration: none;
	}
}

a.underlined-link,
a.underlined {
	color: $dark-blue;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.white {
	color: #fff;
}


code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: 300;
    color: $text-color;
    background-color: #eee;
    border-width: rem(1);
    border-style: solid;
    border-color: #dfdfdf;
    padding: 0.125rem 0.3125rem 0.0625rem;
}

.subtitle {
	font-family: $body-font-family;
	font-weight: $body-font-weight;
}