@import "../settings/_settings.scss";
@import "_fonts.scss";
@import "_buttons.scss";


a.simple-underline {
	text-decoration: underline;
	color: #fff;

	&:hover {
		text-decoration: none;
	}
}

a.underlined-link {
	color: $dark-blue;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.white {
	color: #fff;
}


code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: 300;
    color: $text-color;
    background-color: #eee;
    border-width: rem(1);
    border-style: solid;
    border-color: #dfdfdf;
    padding: 0.125rem 0.3125rem 0.0625rem;
}

