<footer>
	<div class="outer-container padding">
		<div class="row">
			<ul class="footer-menu">
				<li><a href="/">HOME</a></li>
				<li><a href="/web-design">WEB DESIGN</a></li>
				<li><a href="/web-development">WEB DEVELOPMENT</a></li>
				<li><a href="/print-work">PRINT WORK</a></li>
				<li><a href="http://studioncreations.com/contact/" target="_blank">CONTACT</a></li>
			</ul>
		</div>
		<div class="row">
			<h6>&copy; <a href="http://studioncreations.com" target="_blank" id="snc-link">STUDIO N CREATIONS</a> | 2015 <a href="https://www.facebook.com/studio.n.creations" target="_blank"><img id="facebook" src="http://cdn.studioncreations.com/img/footer/facebook.png" alt="Facebook Link"></a></h6>
			<h6 id="html5-powered">powered by <img src="http://cdn.studioncreations.com/img/footer/html5-shield.png" alt="HTML5 Shield"></h6>
		</div>
	</div>
</footer>