<nav class="overlay overlay-slidedown">
	<ul>
		<li class="blog-link">
			<a href="/">Home<span>Blog Roll</span></a>
		</li>
		<li class="blog-link">
			<a href="/web-design">Web Design<span>Category</span></a>
		</li>
		<li class="blog-link">
			<a href="/web-development">Web Development<span>Category</span></a>
		</li>
		<li class="blog-link">
			<a href="/print-work">Print Work<span>Category</span></a>
		</li>
		<ul class="snc-links">
			<li id="services">
				<a href="http://studioncreations.com/what-we-do/" target="_blank">Services<span>Our Services</span></a>
			</li>
			<li id="portfolio">
				<a href="http://studioncreations.com/portfolio/" target="_blank">Portfolio<span>Our Portfolio</span></a>
			</li>
			<li id="about">
				<a href="http://studioncreations.com/about-us" target="_blank">About<span>About Us</span></a>
			</li>
			<li id="email">
				<a href="http://studioncreations.com/contact/" target="_blank">Contact<span>Get In Touch</span></a>
			</li>
		</ul>
	</ul>
</nav>