<div class="row" id="nav-bar">
	<div class="vertical-wrapper">
		<a itemprop="url" href="{{ site.blog_url }}" class="title" id="index-link"><span itemprop="name" id="large">Blog.Studio N Creations</span><span itemprop="name" id="mini">BLOG.SNC</span></a>
	</div>
	<nav class="nav-collapse">
		<ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
			<li itemprop="name"><a itemprop="url" href="http://studioncreations.com/">Home</a></li>
			<li itemprop="name"><a itemprop="url" href="http://studioncreations.com/what-we-do/">Services</a></li>
			<li itemprop="name"><a itemprop="url" href="http://studioncreations.com/portfolio/">Portfolio</a></li>
			<li itemprop="name"><a itemprop="url" href="http://studioncreations.com/about-us">About Us</a></li>
			<li itemprop="name" class="active"><a itemprop="url" href="{{ site.blog_url }}">Blog</a></li>
			<li itemprop="name"><a itemprop="url" href="http://studioncreations.com/contact/">Contact</a></li>
		</ul>
	</nav>
</div>