<!-- <header id="site-header">
	<div class="row" id="nav-bar">
		<a href="/" class="title" id="index-link"><span id="large">Blog.Studio N Creations</span><span id="mini">BLOG.SNC</span></a>
		<div id="button-wrapper">
			<button id="menu-toggle" type="button"><span id="word">Menu</span><span id="hamburger"></span></button>
		</div>
	</div>
</header> -->
<header>
	<div class="row" id="nav-bar">
		<!-- <a href="/" class="title" id="index-link"><span id="large">Studio N Creations</span><span id="mini">SNC</span></a> -->
		<a href="/" class="title" id="index-link"><span id="large">Blog.Studio N Creations</span><span id="mini">BLOG.SNC</span></a>
		<nav class="nav-collapse">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/what-we-do/">Services</a></li>
				<li><a href="/portfolio/">Portfolio</a></li>
				<li class="active"><a href="/about-us">About Us</a></li>
				<li><a href="http://blog.studioncreations.com">Blog</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>