@import "../../settings/_settings.scss";

// WIDTHS ::
$width-1040: "only screen and (max-width : 65.000em)";
$max-960: "only screen and (max-width : 60.000em)";
$width-950: "only screen and (max-width : 59.375em)";
$max-930: "only screen and (max-width : 58.125em)";
$width-900: "only screen and (max-width : 56.250em)";
$max-850: "only screen and (max-width : 53.125em)";
$width-800: "only screen and (max-width : 50.000em)";
$max-699: "only screen and (max-width : 43.688em)"; 
$max-450: "only screen and (max-width : 28.125em)";
$max-420: "only screen and (max-width : 26.250em)";


#nav-bar {
  background: #fff url("#{$url}/img/nav/top-bar/nav-detail.png") no-repeat left;
  background-size: 400px 100%;
  height: em(55);
  position: fixed;
  // z-index: 100;
  width: 100%;
  top: 0;
  box-shadow: $z-1;

  * {
    color: initial;
    text-shadow: initial;
  }
}

#menu-toggle {
  font-size: rem(28);
  position: absolute;
  top: rem(8);
  right: rem(32);

  outline: none;
  background: none;
  padding: 0;

  &:hover {
    margin-top: rem(2);
    text-shadow: 0 rem(1) rem(1) #000;
  }

  #word {
    font-family: $title-font-family;
    text-transform: uppercase;
    letter-spacing: em(1);
  }
}

// Hamburger Icon
#hamburger:before {
  font-family: "nav";
  content: "\2261"; 
  padding-left: rem(8);
}

// Close Icon
#hamburger.active:before {
  margin-right: rem(-4);
  content: "\78"; 
}

#index-link {
  font-size: rem(30);
  position: absolute;
  top: rem(10);
  left: rem(16);

  * {
    color: #fff;
    text-shadow: 0 rem(1) rem(2) #000;
  }

  #mini {
    visibility: hidden;
    display: none;
  }

  &:hover {
    text-decoration: none;
  }
}

@media #{$max-960} {
  #nav-bar {
    background: #fff url("#{$url}/img/nav/top-bar/nav-detail.png") no-repeat left;
    background-size: em(300) 100%;
    height: em(50);
  }

  #index-link {
    font-size: rem(26);
    left: rem(12);
    top: rem(10);
  }
}


@media #{$max-930} {
  #index-link {
    #large {
      visibility: hidden;
      display: none;
    }
    #mini {
      visibility: visible;
      display: block;
    }
  }
}

@media #{$max-850} {
  #nav-bar {
    background: #fff url("#{$url}/img/nav/top-bar/nav-detail.png") no-repeat left;
    background-size: em(190) 100%;
    height: em(50);
  }

  #index-link {
    left: rem(10);
  }
}

@include media($medium) { // 750px
  #nav-bar {
    background: #fff url("#{$url}/img/nav/top-bar/nav-detail@750.png") no-repeat left;
    background-size: em(150) 100%;
    height: em(50);
  }
}

@media #{$max-699} {
  #nav-bar {
    background: #fff url("#{$url}/img/nav/top-bar/nav-detail.png") no-repeat left;
    background-size: 400px 100%;
  }

  #index-link {
    #large {
      visibility: visible;
      display: block;
    }
    #mini {
      visibility: hidden;
      display: none;
    }
  }
}


@media #{$max-450} {
  #nav-bar {
    background: #fff url("#{$url}/img/nav/top-bar/nav-detail.png") no-repeat left;
    background-size: 120% 100%;
  }

  #index-link {
    #large {
      visibility: hidden;
      display: none;
    }
    #mini {
      visibility: visible;
      display: block;
    }
  }
}

@media #{$max-420} {
  #menu-toggle {
    text-shadow: 0 rem(1) rem(2) #000;

    &:hover {
      text-shadow: 0 rem(1) rem(1) #000;
    }
  }
}



