@import "../settings/_settings.scss";

@import "_article-layout.scss";
@import "_standard-post.scss";

$max-800: "only screen and (max-width : 50em)";
$max-750: "only screen and (max-width : 46.875em)";
$max-540: "only screen and (max-width : 33.750em)";
$max-500: "only screen and (max-width : 31.250em)";
$max-450: "only screen and (max-width : 28.125em)";

.post-hero {
	background: #fff;
	box-shadow: $z-1;
	width: 100%;
	margin-bottom: em(34);
	padding: em(24) 0 em(12);

	.outer-container {
		padding-top: 0;
	}

	#calendar-nav {
		width: em(180);
		margin: 0 em(5) 0 em(10);
		float: left;
		text-align: center;

		time {
			width: rem(145);
			height: rem(145);
			background: $dark-blue;
			padding-top: rem(18);
			margin: 0 auto rem(14);
			display: block;
			font-size: $h2-size; // 45px
			color: #fff;
			font-family: $header-font-family;
			letter-spacing: rem(1);
			text-transform: uppercase;

			span {
				display: block;
			}
		}

		nav {
			margin-bottom: rem(8);

			a {
				text-transform: uppercase;
				font-size: $h5-size; // 16px
				letter-spacing: $h5-h6-letter-spacing; // 1.2px
			}
		}
	}
	#post-titles {
		padding-right: em(22);
		margin-bottom: em(16);

		h1 {
			font-size: $h2-size; // 45px
		}
		h2 {
			font-size: $h3-size; // 31px
		}
	}
	#post-taxonomy {
		padding-left: em(20);

		h5 {
			font-size: $h5-size; // 16px
			padding-left: rem(12);
			margin-bottom: rem(8);
		}
	}
}

.article-body {
	padding: 0;
}

@media #{$max-800} {
	.post-hero {
		#post-titles {
			h1 {
				font-size: $h3-size; // 31px
			}
			h2 {
				font-size: $h4-size; // 22px
			}
		}
	}
}

@media #{$max-750} {
	.post-hero {
		#calendar-nav {
			width: em(160);

			time {
				width: rem(100);
				height: rem(100);
				font-size: $h3-size; // 31px
				padding-top: rem(13);
			}

			nav {
				a {
					font-size: rem(14);
				}
			}
		}
		#post-titles {
			padding-right: em(16);
			margin-left: em(170);
		}
		#post-taxonomy {
			h5 {
				font-size: rem(14);
				padding-left: rem(8);
			}
		}
	}
}

@media #{$max-540} {
	.post-hero {
		padding: rem(12) 0 0;

		#calendar-nav {
			width: 100%;
			margin: 0;

			nav {
				a {
					font-size: rem(16);
				}
			}
		}
		#post-titles {
			padding: 0 rem(10);
			margin: 0;

			h1 {
				font-size: rem(24);
			}
			h2 {
				font-size: rem(20);
			}
		}
		#post-taxonomy {
			margin: rem(4) 0 rem(8);
			padding-left: 0;

			h5 {
				font-size: rem(16);
			}
		}
	}
}

@media #{$max-500} {
	.post-hero {

		#calendar-nav {
			time {
				font-size: rem(22);
				height: rem(80);
				width: rem(80);
				padding-top: rem(14);
				margin-bottom: rem(8);
			}

			nav {
				a {
					font-size: rem(14);
				}
			}
		}

		#post-taxonomy {
			h5 {
				font-size: rem(14);
			}
		}
	}
}

@media #{$max-450} {
	.post-hero {
		#calendar-nav {
			time {
				margin: 0 rem(16) rem(16);
				float: left;
			}
			nav {
				float: left;
				position: relative;
				width: em(100);

				a {
					display: block;
					font-size: rem(16);
					position: absolute;
				}

				a#previous {
					top: rem(50);
				}

				a#next {
					top: rem(10);
				}

				span#divider {
					visibility: hidden;
				}
			}
		}
	}
}


@import "lisa-esposito/_lisa-esposito.scss";
@import "jdf/_jdf.scss";
@import "hu/_hu.scss";
@import "h-o-f/_h-o-f.scss";
@import "gctx/_gctx.scss";
@import "lpf/_lpf.scss";
@import "apps/_apps.scss";
@import "snc/_snc.scss";

