@import "../settings/_settings.scss";

$max-610: "only screen and (max-width : 38.125em)";
$max-500: "only screen and (max-width : 31.250em)";
$max-400: "only screen and (max-width : 25.000em)";

.standard-post {
	main {

		article {
			@include span-columns(12 of 16);
			padding: em(16);
			margin-bottom: em(26);
			background: #fff;
			box-shadow: $z-1;

			header {
				@include row;
				margin-bottom: em(30);

				h4 {
					text-transform: uppercase;
					letter-spacing: rem(1.2);
					font-size: rem(18);
					margin: 0;
				}

				h1 {
					font-size: rem(42);
					margin: rem(6) 0 rem(8);
				}

				h2 {
					font-size: rem(24);
					margin-bottom: rem(20);
				}

				time {
					font-family: $header-font-family;
					letter-spacing: rem(1.2);
					font-size: rem(18);
					text-transform: uppercase;
				}
			}

			#article-body {
				margin-bottom: em(40);
				@include row;

				img.article-hero {
					border: em(1) solid #333;
					margin-bottom: em(30);
				}

				p {
					font-size: rem(20);
				}
		
				h4#contact-c2a {
					margin-top: rem(28);

					a {
						span {
							text-decoration: underline;
						}
						&:hover {
							span {
								text-decoration: none;
							}
						}
					}
				}
			}

			footer#article-footer {
				@include row;
				text-align: left;
				
				#post-tags {
					margin-bottom: rem(18);
				}

			}
		}
	}
}

@include media($medium) {
	.standard-post {
		main {
			article,
			aside {
				@include span-columns(12 of 12);
			}

			article {
				margin-top: em(280);
			}
		}
	}
}

// @include media($medium) {  // 750px
// 	.blog-index,
// 	.standard-post {
// 		section.blog-roll,
// 		aside {
// 			@include span-columns(12 of 12);
// 		}

// 		aside {
// 			@include shift(-12);
// 			padding: 0;

// 			.aside-content {
// 				max-width: none;
// 				position: initial;
// 			}
// 		}

// 		section.blog-roll {
// 			margin-top: em(300);
// 		}

@media #{$max-610} {
	.standard-post {
		main {
			article {
				padding: em(12);
				
				header {
					margin-bottom: em(20);

					h1 {
						font-size: rem(31);
					}

					h2 {
						margin-bottom: rem(14);
					}

					h4,
					time {
						font-size: rem(16);
					}
				}

				#article-body {
					margin-bottom: em(20);

					img.article-hero {
						margin-bottom: em(30);
					}

					p {
						font-size: rem(18);
					}

					h4#contact-c2a {
						font-size: rem(20);
						line-height: rem(26);
					}
				}
			}
		}
	}	
}

@media #{$max-500} {
	.standard-post {
		main {
			article {
				header {
					h4 {
						margin-bottom: rem(8);
					}
				}
			}
		}
	}	
}

@media #{$max-400} {
	.standard-post {
		main {
			article {
				margin-top: em(280);
			}
		}
	}
}