@import "../../../style/settings/_settings.scss";

$max-950: "only screen and (max-width : 59.375em)";
$max-800: "only screen and (max-width : 50.000em)";
$max-750: "only screen and (max-width : 46.875em)";
$max-500: "only screen and (max-width : 31.250em)";


#nav-bar {
	z-index: 10000000;
	
	@media #{$max-950} {
		background-size: auto 100%;
		background-position: -200px;

		.vertical-wrapper {
			a#index-link {
				span#large {
					display: none;
					visibility: hidden;
				}

				span#mini {
					display: block;
					visibility: visible;
				}
			}
		}
	}

	@media #{$max-800} {
		background-position: -250px;	
	}

	@media #{$max-750} {
		background-position: left;
		height: em(50);

		.vertical-wrapper {
			line-height: em(50);

			a#index-link {
				span#large {
					display: block;
					visibility: visible;
				}
				span#mini {
					display: none;
					visibility: hidden;
				}
			}
		}
	}

	@media #{$max-500} {
		background-position: -160px;

		.vertical-wrapper {
			a#index-link {
				span#large {
					display: none;
					visibility: hidden;
				}
				span#mini {
					display: block;
					visibility: visible;
				}
			}
		}
	}
}