<div class="row" id="get-social">
    <a href="https://twitter.com/share?url=http://blog.studioncreations.com/{{ page.og-url }}">
        <div class="share-button" id="twitter" data-share-url="http://blog.studioncreations.com/{{ page.og-url }}">
            <p class="icon">
                <img src="/img/assets/social/icon-twitter.png">
            </p>
            <p class="shares">0</p>
        </div>
    </a>

    <a href="https://www.facebook.com/sharer/sharer.php?u=http://blog.studioncreations.com/{{ page.og-url }}">
        <div class="share-button" id="facebook" data-share-url="http://blog.studioncreations.com/{{ page.og-url }}">
            <p class="icon">
                <img src="/img/assets/social/icon-facebook.png">
            </p>
            <p class="shares">0</p>
        </div>
    </a>

    <a data-pin-do="buttonBookmark" data-pin-count="above" href="https://www.pinterest.com/pin/create/button/">
        <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
    </a>
</div>


