<div class="row" id="get-social">
    <a id="twitter-share" href="https://twitter.com/share?url=http://blog.studioncreations.com/web-design/thoughts-on-the-lemon-peel-facial-logo">
        <div class="share-button" id="twitter" data-share-url="http://blog.studioncreations.com/web-design/thoughts-on-the-lemon-peel-facial-logo">
            <p class="icon">
                <img src="/img/assets/social/icon-twitter.png">
            </p>
            <p class="shares">0</p>
        </div>
    </a>

    <a id="facebook-share" href="https://www.facebook.com/sharer/sharer.php?u=http://blog.studioncreations.com/web-design/thoughts-on-the-lemon-peel-facial-logo">
        <div class="share-button" id="facebook" data-share-url="http://blog.studioncreations.com/web-design/thoughts-on-the-lemon-peel-facial-logo">
            <p class="icon">
                <img src="/img/assets/social/facebook@2x.png">
            </p>
            <p class="shares">0</p>
        </div>
    </a>

    <a data-pin-do="buttonBookmark" id="pinterest-share" data-pin-count="above" data-pin-custom="true" href="https://www.pinterest.com/pin/create/button/">
        <img src="/img/assets/social/pinterest@2x.png" alt="">
    </a>
</div>