@import "../settings/_settings.scss";



ul.widget-nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

.widget#post-categories,
.widget#snc-link {
	text-align: center;

	.widget-nav {
		li {
			margin: .7em 0;
			background-color: #fff;
			// @include transition (background-color 200ms ease-out 0s);

			a {
				border: em(1) solid $dark-blue;
				display: block;
				text-decoration: none;
				padding: .5em;
				color: $text-color;
				// @include transition (color 150ms ease-out 0s);

				&:hover {
					color: #fff;
				}
			}

			&:hover {
				background-color: $dark-blue;
			}
		}
	}
}

.widget#category-title {
	text-align: center;

	h1 {
		margin-bottom: 0;
	}
}

