@import "../../settings/_settings.scss";

$max-610: "only screen and (max-width : 38.125em)";

article#hof-spring-postcard {
	.row {
		margin-bottom: em(30);
	}
	figure,
	.verbiage {
		@include span-columns(8 of 16);
	}
	figure {
		img {
			border: em(2) solid #fff;
			box-shadow: $z-1;
		}
	}
}

@media #{$max-610} {
	article#hof-spring-postcard {
		figure,
		.verbiage {
			@include span-columns(8 of 8);
		}
	}
}