@import "../../settings/_settings.scss";

article#jdf-branding {
	figure {
		@include span-columns(10 of 16);
		margin-bottom: em(20);

		img {
			box-shadow: $z-1;
			border: em(2) solid #fff;
		}
	}
	.verbiage {
		@include span-columns(6 of 16);
	}
}

@include media($medium) {
	article#jdf-branding {
		figure,
		.verbiage {
			@include span-columns(10 of 10);

		}
	}
}