@import "../../settings/_settings.scss";

$max-610: "only screen and (max-width : 38.125em)";

article#updating-jdf-brand {
	.row#one {
		figure,
		.verbiage {
			@include span-columns(8 of 16);
		}
	}
	.row#two {
		p {
			margin-bottom: rem(30);
		}
	}
}

@media #{$max-610} {
	article#updating-jdf-brand {
		.row#one {
			figure {
				@include span-columns(8 of 8);
				margin-bottom: em(30);
			}
			.verbiage {
				@include shift(0.5);
				@include span-columns(7 of 8);
			}
		}
	}
}